{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="container">
    <div class="collapse show" id="collapseSignin" data-bs-parent="#accountModal">
        <div class="modal-header">
            <h5 class="modal-title">Log In to Your Skola Account!</h5>
        </div>
    
        <div class="modal-body">
            <!-- Form Signin -->
            <form class="mb-5">
    
                <!-- Email -->
                <div class="form-group mb-5">
                    <label for="modalSigninEmail">
                        Username or Email
                    </label>
                    <input type="email" class="form-control" id="modalSigninEmail" placeholder="creativelayers">
                </div>
    
                <!-- Password -->
                <div class="form-group mb-5">
                    <label for="modalSigninPassword">
                        Password
                    </label>
                    <input type="password" class="form-control" id="modalSigninPassword" placeholder="**********">
                </div>
    
                <div class="d-flex align-items-center mb-5 font-size-sm">
                    <div class="form-check">
                        <input class="form-check-input text-gray-800" type="checkbox" id="autoSizingCheck">
                        <label class="form-check-label text-gray-800" for="autoSizingCheck">
                            Remember me
                        </label>
                    </div>
    
                    <div class="ms-auto">
                        <a class="text-gray-800" data-bs-toggle="collapse" href="#collapseForgotPassword" role="button" aria-expanded="false" aria-controls="collapseForgotPassword">Forgot Password</a>
                    </div>
                </div>
    
                <!-- Submit -->
                <button class="btn btn-block btn-primary" type="submit">
                    LOGIN
                </button>
            </form>
    
            <!-- Text -->
            <p class="mb-0 font-size-sm text-center">
                Don't have an account? <a class="text-underline" data-bs-toggle="collapse" href="#collapseSignup" role="button" aria-expanded="false" aria-controls="collapseSignup">Sign up</a>
            </p>
        </div>
    </div>
</section>

{% endblock  %}